DB_HOST = 
DB_USER = 
DB_PASSWORD = 
DB_NAME = 
MYSQL_DATABASE =
MYSQL_USER = 
MYSQL_PASSWORD = 
MYSQL_ROOT_PASSWORD = 

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=New123abc!!
DB_NAME=citywise
DB_PORT=3306